body {
    background-image: url("../images/home_bg.png");
    background-size: cover;
    animation: bounce-background 5s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes bounce-background {
    from {
        background-position: top;
    }
    50% {
        background-position: bottom;
    }
    to {
        background-position: top;
    }
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    background: #000000de;
    z-index: 1;
    width: 0;
    color: #f7f7f7;
    height: 100vh;
    overflow: hidden;
    font-size: 1.5em;
    transition: 0.3s;
}

#side-nav.show {
    width: 300px;
    padding-left: 2.5rem;
    padding-right: 2rem;
}

nav a {
    color: #f7f7f7;
    padding: 1rem 1rem;
    display: block;
    text-decoration: none;
    border-bottom: 2.5px solid var(--yellow-color);
    font-weight: bold;
}

nav a:active {
    background-color: var(--yellow-color);
}

li {
    list-style: none;
}

.close-btn {
    background: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #8a8a8a;
    font-weight: bold;
}

nav .close-btn {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#menu-btn {
    top: 0px;
    font-size:3em;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.279);
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
    border-bottom-left-radius: 10%;
    cursor: pointer;
    position: absolute;
}
   
main {
    text-align: center;
    margin-bottom: 3%;
}

main h1 {
    font-size: 5em;
    font-family: Montserrat;
    font-weight: 400;
    color: var(--yellow-color);
}

#profile-pic {
    height: 180px;
}

form {
    margin-top: 7px;
    padding-bottom: 1.5em;
}

#username {
    width: 500px;
    height: 2.5em;
    border: 2.5px solid black;
    border-radius: 2px;
    margin-left: 15px;
    font-weight: 600;
    color: black;
    text-align: center;
}

/* change the blue bg sometimes */
#username:focus {
    background-color: #f7f7f7;
}

#die {
    height: 2.3em;
    position: relative;
    right: 45px;
    cursor: pointer;
}

#username-section {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

#quiz-play-section{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 500px;
    margin-left: 15px;
}

#quiz-select {
    height: 2.5em;
    border-radius: 2px;
    border: 2.5px solid black;
    width: 400px;
}

/* grey until something has been selected */
#play-btn {
    border-radius: 5px;
    /* margin-top: 25px; */
    width: 100px;
    height: 2.5rem;
    font-size: 1.8em;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: var(--yellow-color);
    font-weight: 100;
    border: 2.5px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: background-color 0.2s linear;
    cursor: pointer;
}

/* fix this */
#play-btn:hover {
    background-color: var(--orange-color);
}

/* styles for small screens */
@media only screen and (max-width:480px) {
    main h1 {
        font-size: 3.6em;
    }

    #username {
        width: 300px;
    }

    #quiz-play-section {
        width: 310px;
        flex-direction: column;
        align-items: center;
    }

    #quiz-select {
        width: 360px;
        font-size: 0.9em;
    }

    /* add a light grey overlay to whole screen */
    #side-nav.show {
        width: 200px;
    }

    /* source: https://www.w3schools.com/howto/howto_css_overlay.asp */
    #overlay {
        position: fixed; 
        display: none; 
        width: 100%;
        height: 100%;
        top: 0; left: 0; right: 0; bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 0;
    }
    
    #overlay.show {
        display: block;
    }
}

/* styles for tablet screens */
@media only screen and (min-width: 481px)
and (max-width: 768px) {

    #username {
        width: 400px;
    }

    #quiz-play-section {
        width: 410px;
        flex-direction: column;
        align-items: center;
    }

    #side-nav.show {
        width: 250px;
    }
}

/* common styles for screens and tablets */
@media only screen and (max-width:768px) {
    nav {
        left: 0;
    }

    #menu-btn {
        text-align: right;
        padding-right: 15px;
    }
}