:root {
    --red-opt-color: #e13b2e;
    --blue-opt-color: #4583f2;
    --yellow-opt-color: #f6bb06;
    --green-opt-color: #35ab53;
    --text-bg-color: #fffefaff;
    --option-size: 4vw;
  }

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#question {
    text-align: center;
    font-size: max(3.5vw, 1.5em);
    padding: 20px;
    background-color: var(--text-bg-color);
    border: 4px solid black;
    font-family: Anton, sans-serif;
    font-weight: 100;
}

#choices {
    width: calc(100vw - 4px);
    flex: 1;
    border: 4px solid black;
    border-top: none;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 10px;
}  

#choices div {
    padding-left: 5vw;
    height: 20%;
}

.option {
    display: flex;
    gap: 10px;
    align-items: center;
}

#submit {
    position: absolute;
    bottom: 2vh;
    right: 5vh;
    font-size: max(10vw, 5em);
    float: right;
    font-family: sans-serif;
    vertical-align: middle;
    background-color: white;
    border-radius: 20%;
    cursor: pointer;
}

/* add hover state
#submit:hover {
} */

label {
    font-size: var(--option-size);
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    aspect-ratio: 1 / 1;
    height: 80%;
    border: 0.1em solid black;
    border-radius: 20%;
    margin-right: 10px;
    /* align radio better with text */
    /* transform: translateY(2vh); */
}

input[type="radio"]::before:checked {
    border: 0.1em solid black;
    transition: 420ms border ease-in-out;
}
  
input[type="radio"]:checked {
    border: 0.2em solid black;
}

input[type="radio"]#option_a {
    background-color: var(--red-opt-color);
}

input[type="radio"]#option_b {
    background-color: var(--yellow-opt-color);
}

input[type="radio"]#option_c {
    background-color: var(--green-opt-color);
}

input[type="radio"]#option_d {
    background-color: var(--blue-opt-color);
}

/* styles for tablet screens */
@media only screen and (min-width: 481px)
and (max-width: 768px) {
    :root{
        --option-size: 4vw;
    }
}

@media only screen and (max-width:480px) {
    :root{
        --option-size: 4vw;
    }
}