:root {
    --background-color: #2a2424;
    --text-color: white;
    --accent-color: #F1BA0A;
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  header {
    background-color: black;
    width: 100%;
    min-height: 80px;
  }

  #topbar a {
    text-decoration: none;
    color: var(--text-color);
  }

#topbar li {
  list-style-type: none;
  padding-right: 1em;
  padding-top: 2em;
  padding-left: 0.5em;
 }

 #topbar ul {
  display: flex;
 }

 #main-banner {
  background-image: url(/images/hero_image.jpg);
  background-color: black;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
  object-fit: cover;
  min-height: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 #main-banner h1{
  font-size: 7em;
 }