:root {
    --background-color: #0A161C;
    --text-color: rgb(255, 255, 255);
    --accent-color: #F1BA0A;
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  header {
    background-color: hsl(200, 47%, 4%);
    width: 100%;
    min-height: 80px;
  }

  #topbar a {
    text-decoration: none;
    color: var(--text-color);
  }

#topbar li {
  list-style-type: none;
  padding-top: 2em;
  padding-left: 25px;
 }

 #topbar ul {
  display: flex;
 }

 #main-banner {
  background-image: url(/images/hero_image.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
  object-fit: cover;
  min-height: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 #main-banner h1{
  font-size: 7em;
 }

 main {
  flex: 1;
 }

 h2 {
  font-size: 2em;
  padding: 0.2em;
 }

 hr {
  border: 1px dotted white;
 }

h2+p {
  padding-top: 2em;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  background-color: #093245;
  margin: 1em;
  padding: 1em;
  min-width: 200px;
  max-width: 200px;
  height: 200px;
  border-radius: 8px;
}

.thumbnail:hover {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3),
  -10px -10px 10px hsl(200, 47%, 8%)
}

footer {
  background-color: hsl(200, 47%, 4%);
  min-height: 20px;
  display: flex;
  align-items: center;
  padding: 1em;
}
